
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">



<style >
.contact{
	font-family: "Times New Roman", Times, serif; 
}
.linkc a {
	color: white;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	transition: 0.5s ease;
}

.linkc a:hover{
	color:#fcba03; 
}

.social-media ul{
	display: inline-block;
}

.social-media ul li{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.social-media ul li a{
	font-size: 20px;
	color: white;
	letter-spacing: 0.1em;
	background: transparent;
     -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;

}

.social-media ul li a:hover{

	color: #fcba03;
}


button{
	transition: all 0.5s ease-in-out;
}

</style>




<body>
<br><br><br>
<br><br><br>
<br><br><br>

<div style="background-color: #211a30;color: white;">
<div class="containter-fluid" >
	
	<div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
<!-- left side div -->
<div class="col-md-3 col-12">
<h2 style="color: #fcba03;font-family:Times New Roman, Times, serif; ">Contact Us</h2><br>
<p  class="contact">North Karachi</p>
<p class="contact">New Karachi pakistan</p>
<p class="contact">+92 312229164</p>
<p class="contact">Hafizjunaid971@gmail.com</p>

</div>


<div class="col-md-3 col-12 ">
	<h2 style="color: #fcba03;font-family:Times New Roman, Times, serif; ">More About</h2><br>
<p  class="linkc"><a href="#"> Portfolio  </a></p>
<p class="linkc"><a href="#"> My Olx App  </a></p>
<p class="linkc"><a href="#"> Quiz App  </a></p>
<p class="linkc"><a href="#"> About Us  </a></p>

</div>




<div class="col-md-3 col-12">
	<h2 style="color: #fcba03; font-family:Times New Roman, Times, serif; ">Social Media</h2><br>
<div class="social-media">
	
	<ul class="list-unstyled">
	<li><a href="https://www.facebook.com/hafizjunaid971?comment_id=Y29tbWVudDoyNTk1NTcyNTEwNjkwNzE1XzI1OTU1OTcxNTczNTQ5MTc%3D" target="_blank"> <i class="fab fa-facebook-f" > </i></a>  </li>
	<li><a href="https://twitter.com/hafizjunaid971" target="_blank"> <i class="fab fa-twitter"> </i></a>  </li>
	<li><a href="https://www.instagram.com/hafizjunaid971/?hl=en" target="_blank"> <i class="fab fa-instagram"> </i></a>  </li>
	<li><a href="https://www.linkedin.com/in/hafiz-junaid-118984a0/" target="_blank"> <i class="fab fa-linkedin"> </i></a>  </li>
	<li><a href="https://github.com/Hafizjunaid971"target="_blank"> <i class="fab fa-github"> </i></a>  </li>
	
	</ul>

</div>

</div>
<div class="col-md-3 col-12">
	<h3 style="color: #fcba03; font-family:Times New Roman, Times, serif; ">Subcribe Our New Letter</h3><br>
<form>
<input type="text" name="subcribe" placeholder="Enter Gmail" class="form-control" required=""><button class="btn btn-success">Submit</button>
</form>


</div>






</div>

<hr>
<div class="container">

<h4 style="text-align: center;font-family:Times New Roman, Times, serif;  ">Copyright ©2020 Node js Express js React JS | Hafiz Junaid Ahmed Ansari</h4>

</div>




</div>

